body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
strong{
  color: purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  overflow-y:scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(87, 3, 111);
  /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}