

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -10;
}
@media (prefers-reduced-motion) {
    .background{
        display: none;
    }
  }

.background span {
    width: 10vmin;
    height: 10vmin;
    border-radius: 10vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #8816c5;
    top: 41%;
    left: 58%;
    animation-duration: 25s;
    animation-delay: -36s;
    transform-origin: 22vw 4vh;
    box-shadow: 20vmin 0 3.3597349822352616vmin currentColor;
}
.background span:nth-child(1) {
    color: #3e0288;
    top: 38%;
    left: 20%;
    animation-duration: 55s;
    animation-delay: -47s;
    transform-origin: -8vw 11vh;
    box-shadow: -20vmin 0 2.501936900692016vmin currentColor;
}
.background span:nth-child(2) {
    color: #4e077d;
    top: 44%;
    left: 26%;
    animation-duration: 41s;
    animation-delay: -23s;
    transform-origin: -22vw -11vh;
    box-shadow: 20vmin 0 2.931321636592118vmin currentColor;
}
.background span:nth-child(3) {
    color: #4e077d;
    top: 50%;
    left: 100%;
    animation-duration: 40s;
    animation-delay: -46s;
    transform-origin: -7vw -3vh;
    box-shadow: 20vmin 0 2.7205593659019263vmin currentColor;
}
.background span:nth-child(4) {
    color: #4e077d;
    top: 22%;
    left: 95%;
    animation-duration: 52s;
    animation-delay: -38s;
    transform-origin: 11vw 3vh;
    box-shadow: -20vmin 0 2.6959290572104964vmin currentColor;
}
.background span:nth-child(5) {
    color: #3e0288;
    top: 47%;
    left: 22%;
    animation-duration: 24s;
    animation-delay: -35s;
    transform-origin: -12vw 7vh;
    box-shadow: 20vmin 0 2.9247062865807596vmin currentColor;
}
.background span:nth-child(6) {
    color: #8816c5;
    top: 4%;
    left: 88%;
    animation-duration: 22s;
    animation-delay: -28s;
    transform-origin: -24vw 12vh;
    box-shadow: 20vmin 0 3.486639293930822vmin currentColor;
}
.background span:nth-child(7) {
    color: #8816c5;
    top: 81%;
    left: 96%;
    animation-duration: 35s;
    animation-delay: -16s;
    transform-origin: 1vw -7vh;
    box-shadow: -20vmin 0 3.2910906194924534vmin currentColor;
}
.background span:nth-child(8) {
    color: #3e0288;
    top: 70%;
    left: 48%;
    animation-duration: 36s;
    animation-delay: -30s;
    transform-origin: -18vw -2vh;
    box-shadow: -20vmin 0 3.3015753743099343vmin currentColor;
}
.background span:nth-child(9) {
    color: #8816c5;
    top: 68%;
    left: 71%;
    animation-duration: 28s;
    animation-delay: -37s;
    transform-origin: 0vw -14vh;
    box-shadow: 20vmin 0 3.3088724032972556vmin currentColor;
}
.background span:nth-child(10) {
    color: #3e0288;
    top: 79%;
    left: 63%;
    animation-duration: 35s;
    animation-delay: -32s;
    transform-origin: -3vw 22vh;
    box-shadow: 20vmin 0 3.4897618684770335vmin currentColor;
}
.background span:nth-child(11) {
    color: #8816c5;
    top: 10%;
    left: 60%;
    animation-duration: 9s;
    animation-delay: -2s;
    transform-origin: 18vw -11vh;
    box-shadow: -20vmin 0 3.055926092618982vmin currentColor;
}
.background span:nth-child(12) {
    color: #4e077d;
    top: 88%;
    left: 60%;
    animation-duration: 27s;
    animation-delay: -26s;
    transform-origin: 10vw 9vh;
    box-shadow: 20vmin 0 3.205424628328882vmin currentColor;
}
.background span:nth-child(13) {
    color: #8816c5;
    top: 90%;
    left: 80%;
    animation-duration: 51s;
    animation-delay: -33s;
    transform-origin: -2vw 4vh;
    box-shadow: -20vmin 0 2.6348566715834107vmin currentColor;
}
.background span:nth-child(14) {
    color: #4e077d;
    top: 31%;
    left: 86%;
    animation-duration: 12s;
    animation-delay: -2s;
    transform-origin: -16vw -10vh;
    box-shadow: -20vmin 0 3.2173038512223764vmin currentColor;
}
.background span:nth-child(15) {
    color: #3e0288;
    top: 90%;
    left: 92%;
    animation-duration: 25s;
    animation-delay: -49s;
    transform-origin: -17vw 1vh;
    box-shadow: 20vmin 0 2.884394857730633vmin currentColor;
}
.background span:nth-child(16) {
    color: #8816c5;
    top: 5%;
    left: 22%;
    animation-duration: 30s;
    animation-delay: -17s;
    transform-origin: -13vw 25vh;
    box-shadow: 20vmin 0 3.320196520079409vmin currentColor;
}
.background span:nth-child(17) {
    color: #3e0288;
    top: 43%;
    left: 67%;
    animation-duration: 38s;
    animation-delay: -45s;
    transform-origin: 22vw 10vh;
    box-shadow: -20vmin 0 2.915262628668822vmin currentColor;
}
.background span:nth-child(18) {
    color: #3e0288;
    top: 97%;
    left: 85%;
    animation-duration: 34s;
    animation-delay: -34s;
    transform-origin: 7vw -10vh;
    box-shadow: 20vmin 0 3.142476593128549vmin currentColor;
}
.background span:nth-child(19) {
    color: #8816c5;
    top: 4%;
    left: 24%;
    animation-duration: 40s;
    animation-delay: -14s;
    transform-origin: -10vw -13vh;
    box-shadow: 20vmin 0 2.703944000050023vmin currentColor;
}
.background span:nth-child(20) {
    color: #8816c5;
    top: 94%;
    left: 50%;
    animation-duration: 30s;
    animation-delay: -45s;
    transform-origin: -9vw 25vh;
    box-shadow: -20vmin 0 2.979190446914382vmin currentColor;
}
.background span:nth-child(21) {
    color: #3e0288;
    top: 62%;
    left: 31%;
    animation-duration: 10s;
    animation-delay: -26s;
    transform-origin: 25vw -12vh;
    box-shadow: -20vmin 0 2.7258461693482485vmin currentColor;
}
.background span:nth-child(22) {
    color: #8816c5;
    top: 37%;
    left: 87%;
    animation-duration: 46s;
    animation-delay: -47s;
    transform-origin: 16vw 9vh;
    box-shadow: -20vmin 0 2.740719586648699vmin currentColor;
}